# User secrets
secrets.json
*.secret.json

# Variáveis de ambiente
.env
.env.*

# Logs
*.log
logs/
LogFiles/

# Cache e arquivos temporários
.vscode/
.idea/
*.swp
*.suo
*.user
*.cache
*.tmp

# Docker volumes/overrides
docker-compose.override.yml
